{% import 'partials/forms.html' as f %}

{% call f.modal_wrapper('servicio', modo, 'frmServicio', '/ui/servicios', item) %}
{{ f.field_input('clave','Clave', item=item, required=True) }}
{{ f.field_input('descripcion','Descripción', item=item, required=True) }}
{{ f.field_input('codigo_sat','Código SAT', item=item) }}
{{ f.field_input('codigo_unidad','Código Unidad', item=item) }}
{{ f.field_input('unidad','Unidad', item=item) }}
{{ f.field_input('area','Área', item=item) }}
{{ f.field_input('precio_base','Precio Base', item=item, type='number', attrs='step="0.01"') }}
{{ f.field_textarea('notas','Notas', item=item) }}
{{ f.field_checkbox('activo', 'Activo', item=item) }}
{% endcall %}