{% macro celdas(item, columnas) %}
  {# Render genérico de celdas basado en `columnas` del descriptor. #}
  {% for col in columnas %}
    {% set name = col.campo %}
    {% set val = getv(item, name) %}
    <td>
      {# Formatos simples: listas legibles y hora #}
      {% if val is iterable and (val is not string) %}
        {{ val|join(', ') }}
      {% elif name == 'horario_habitual' %}
        {{ val|fmt_time }}
      {% else %}
        {{ val }}
      {% endif %}
    </td>
  {% endfor %}
{% endmacro %}

